<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdyx.app.usermanage.mapper.UserInfoMapper">
    <!--select id,phone,name from user_info where phone=#{phone} and name=#{name}-->
    <select id="getUserByPhone" resultType="com.jdyx.app.bean.UserInfo">
        select id,phone,name from user_info where phone=#{phone}
    </select>
</mapper>