<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdyx.app.appvideo.mapper.VideoDisplayMapper">

    <select id="getAllVideoDisplayVo" resultType="com.jdyx.app.bean.VideoDisplayVo" >
        SELECT vd.*,pt.`latitude`,pt.`longitude`,ui.`image_src`,ui.name userName
        FROM `video_display` vd
        LEFT JOIN user_info ui on ui.id = vd.`user_id`
        LEFT JOIN `positioning` pt ON vd.`user_id` = pt.`user_id`
        WHERE
        <if test="jobId != null">
            vd.`job_id`= #{jobId} and
        </if>
        vd.`release_type` = #{releaseType} and vd.`is_delete`=0 AND vd.`is_hidden`=0 AND vd.`is_violation`=0
        ORDER BY vd.`video_date` DESC
        LIMIT #{pageNow},#{pageSize}
    </select>
    <select id="getAllVideoDisplayPageById" resultType="com.jdyx.app.bean.VideoDisplay">
        SELECT vd.*
        FROM `video_display` vd
        LEFT JOIN user_info ui on ui.id = vd.`user_id`
        WHERE
        <if test="userId != null">
            vd.`user_id`= #{userId} and
        </if>
        vd.`is_delete`=0
        ORDER BY vd.`video_date` DESC
        LIMIT #{pageNow},#{pageSize}
    </select>
    <select id="getVideoDisplayByVideoId" resultType="com.jdyx.app.bean.LikeAndAttentionVo">
        SELECT vd.*,p.`name` jobName,ui.`image_src`,ui.`name`
        FROM `video_display` vd
        LEFT JOIN `user_info` ui ON ui.id = vd.user_id
        LEFT JOIN `post` p ON p.`post_id`=vd.`job_id`
        WHERE vd.`video_id`=#{videoId}
    </select>
</mapper>
