<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdyx.app.appvideo.mapper.VideoDisplayMapper">

    <select id="getAllVideoDisplayVo" resultType="com.jdyx.app.bean.VideoDisplayVo" parameterType="integer">
        SELECT vd.`id`,vd.`user_id`,vd.`release_type`,vd.`video_title`,vd.`video_description`,vd.`video_picture`,vd.`video_address`,
        vd.`video_watermark_address`,vd.`music_ddress`,vd.`job_id`,vd.`is_delete`,vd.`is_delete`,vd.`video_date`,vd.`is_violation`,vd.`is_hidden`,
        pt.`latitude`,pt.`longitude`
        FROM `video_display` vd
        LEFT JOIN `positioning` pt ON vd.`user_id` = pt.`user_id`
        WHERE
        <if test="jobId != null">
            vd.`job_id`= #{jobId} and
        </if>
        vd.`is_delete`=0 AND vd.`is_hidden`=0 AND vd.`is_violation`=0
    </select>
</mapper>
